@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap');
* {
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 0 100px 0;
}

/* 타이틀 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #38383818;
}

.title {
  font-size: 80px;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 30px;
  color: #2E2B2F;
  text-shadow: 4px 4px 0px white, 8px 8px 0px #C3C3C3;
}

/* 영화 검색 */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 30px;
}

#search-input {
  margin-left: 10px;
  font-size: 25px;
}

#search-button {
  margin-left: 10px;
  width: 70px;
  height: 42px;
  font-size: 25px;
}

/* 영화 카드 */
#movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  gap: 80px;
}

.movie-card {
  background-color: white;
  padding: 20px;
  width: 270px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px #C9C9C9;
  cursor: pointer;
}

.movie-card > img {
  width: 250px;
  height: 350px;
  border-radius: 20px;
}

h3 {
  font-weight: bold;
}